.h{
    text-align: center;
    background-color: orange;
    padding: 1rem;
}

.f{
    text-align: center;
    background-color: orange;
    padding: 0.3rem;
}

.header{
    font-weight: bolder;
    color: red;
}

.footer{
    font-size: smaller;
    font-style: italic;
    margin-left: 2rem;
}

.big{
    margin-left: 35%;
}

.text{
    font-weight: bold;
}


/*BOUTON*/

.Bouton{
    text-align: right;
    margin-right: 20%;
    margin-left: auto;
}

.machine-active h2{
    color: green;
}

.machine-desactivee h2{
    color: red;
}

button{
    background-color: black;
    color: white;
    padding: 0.25% 0.5%;
}

hr{
    height: 0;
    overflow: visible;
    margin: 2rem 0;
}

.map{
    margin-left: 48%;
    padding: 1.2em;
    text-decoration: none;
    border-radius: 10px;
    background-color: black;
    color: white;
}

.map:hover{
    background-color: orange;
}

.Item{
    margin: 15px 0;
}

.lienPro{
    text-decoration: none;
    color: white;
    padding-left: 25%
}

.lienPro:hover{
    color: black;
}